.process-dialog-body {
  opacity: 0;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, -100px, 0);
  transition: all 0.5s ease;
  white-space: nowrap;
  max-width: 600px;
  margin: 0;
  padding: 5px 20px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 6px;

  &:global(.success) {
    border: 1px solid rgb(231, 246, 225);
    background-color: rgb(243, 250, 240);
  }
  &:global(.info) {
    border: 1px solid rgb(213, 241, 253);
    background-color: rgb(234, 248, 254);
  }
  &:global(.error) {
    border: 1px solid rgb(255, 224, 204);
    background-color: rgb(255, 240, 230);
  }

  &:global(.show) {
    opacity: 1;
    transform: translate3d(-50%, 80px, 0);
  }
}

.process-dialog-mask {
  display: block;
  position: fixed;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.hide {
  display: none;
}